<div class="row" style="margin: 0;">
    <div class="col-9">
        <div id="mapid" style="height: calc(100vh - 18px); "></div>
    </div>

    <div class="col-3">
        <div class="mb-3">
            <label for="one" class="form-label ">one</label>
            <input type="text " name="one" class="form-control " placeholder=" " aria-describedby="helpId ">

            <label for="two" class="form-label ">two</label>
            <input type="text " name="two" class="form-control " placeholder=" " aria-describedby="helpId ">

            <label for="three" class="form-label ">three</label>
            <input type="text " name="three" class="form-control " placeholder=" " aria-describedby="helpId ">

            <button type="button" (click)="show_geo()" id="test" class="btn btn-primary">ส่ง</button>
            <a class="btn btn-danger" href="">กลับ</a>


        </div>


    </div>


</div>